### Importing and understanding general overview of data

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
ph_data = pd.read_csv("../data/health-equity-monitor-indicators-for-nigeria-40.csv")

In [3]:
ph_data.head()

,index,GHO (CODE),GHO (DISPLAY),GHO (URL),DATASOURCE (CODE),DATASOURCE (DISPLAY),DATASOURCE (URL),PUBLISHSTATE (CODE),PUBLISHSTATE (DISPLAY),PUBLISHSTATE (URL),...,WEALTHDECILE (CODE),WEALTHDECILE (DISPLAY),WEALTHDECILE (URL),Display Value,Numeric,Low,High,StdErr,StdDev,Comments
0,0,#indicator+code,#indicator+name,#indicator+url,NaN,#meta+source,NaN,#status+code,#status+name,NaN,...,NaN,NaN,NaN,NaN,#indicator+value+num,NaN,NaN,NaN,NaN,NaN
1,1,EQ_URBSLUM,Slum population in urban areas (% of total pop...,https://www.who.int/data/gho/indicator-metadat...,NaN,NaN,NaN,PUBLISHED,Published,NaN,...,NaN,NaN,NaN,65.8,NaN,NaN,NaN,NaN,NaN,NaN
2,2,bcgv,BCG immunization coverage among one-year-olds (%),https://www.who.int/data/gho/indicator-metadat...,EQ_DHS,DHS,http://dhsprogram.com/,PUBLISHED,Published,NaN,...,NaN,NaN,NaN,75.0 [67.1-81.5],74.98361,67.13490,81.47514,NaN,NaN,NaN
3,3,cpmo,Contraceptive prevalence - modern methods (%),https://www.who.int/data/gho/indicator-metadat...,EQ_DHS,DHS,http://dhsprogram.com/,PUBLISHED,Published,NaN,...,NaN,NaN,NaN,5.6 [4.6-7.0],5.63219,4.55199,6.95007,NaN,NaN,NaN
4,4,dptv,DTP3 immunization coverage among one-year-olds...,https://www.who.int/data/gho/indicator-metadat...,EQ_DHS,DHS,http://dhsprogram.com/,PUBLISHED,Published,NaN,...,NaN,NaN,NaN,45.8 [38.9-52.9],45.83271,38.88405,52.94734,NaN,NaN,NaN

In [4]:
ph_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9967 entries, 0 to 9966
Data columns (total 49 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   index                        9967 non-null   int64
 1   GHO (CODE)                   9967 non-null   object
 2   GHO (DISPLAY)                9967 non-null   object
 3   GHO (URL)                    9967 non-null   object
 4   DATASOURCE (CODE)            9964 non-null   object
 5   DATASOURCE (DISPLAY)         9965 non-null   object
 6   DATASOURCE (URL)             9964 non-null   object
 7   PUBLISHSTATE (CODE)          9967 non-null   object
 8   PUBLISHSTATE (DISPLAY)       9967 non-null   object
 9   PUBLISHSTATE (URL)           0 non-null      float64
 10  YEAR (CODE)                  9966 non-null   float64
 11  YEAR (DISPLAY)               9967 non-null   object
 12  YEAR (URL)                   0 non-null      float64
 13  REGION (CODE)                9967 non-null   object
 14  STARTYEAR                    9967 non-null   object
 15  ENDYEAR                      9967 non-null   object
 16  REGION (DISPLAY)             9967 non-null   object
 17  REGION (URL)                 0 non-null      float64
 18  COUNTRY (CODE)               9967 non-null   object
 19  COUNTRY (DISPLAY)            9967 non-null   object
 20  COUNTRY (URL)                0 non-null      float64
 21  AGEGROUP (CODE)              80 non-null     object
 22  AGEGROUP (DISPLAY)           80 non-null     object
 23  AGEGROUP (URL)               0 non-null      float64
 24  EDUCATIONLEVEL (CODE)        1005 non-null   object
 25  EDUCATIONLEVEL (DISPLAY)     670 non-null    object
 26  EDUCATIONLEVEL (URL)         0 non-null      float64
 27  SEX (CODE)                   385 non-null    object
 28  SEX (DISPLAY)                385 non-null    object
 29  SEX (URL)                    0 non-null      float64
 30  RESIDENCEAREATYPE (CODE)     672 non-null    object
 31  RESIDENCEAREATYPE (DISPLAY)  672 non-null    object
 32  RESIDENCEAREATYPE (URL)      0 non-null      float64
 33  WEALTHQUINTILE (CODE)        1675 non-null   object
 34  WEALTHQUINTILE (DISPLAY)     1675 non-null   object
 35  WEALTHQUINTILE (URL)         0 non-null      float64
 36  DHSMICSGEOREGION (CODE)      6150 non-null   object
 37  DHSMICSGEOREGION (DISPLAY)   6150 non-null   object
 38  DHSMICSGEOREGION (URL)       0 non-null      float64
 39  WEALTHDECILE (CODE)          0 non-null      float64
 40  WEALTHDECILE (DISPLAY)       0 non-null      float64
 41  WEALTHDECILE (URL)           0 non-null      float64
 42  Display Value                9966 non-null   object
 43  Numeric                      7087 non-null   object
 44  Low                          6739 non-null   float64
 45  High                         6739 non-null   float64
 46  StdErr                       0 non-null      float64
 47  StdDev                       0 non-null      float64
 48  Comments                     3035 non-null   object
dtypes: float64(18), int64(1), object(30)
memory usage: 3.7+ MB

In [5]:
ph_data.describe()

,index,PUBLISHSTATE (URL),YEAR (CODE),YEAR (URL),REGION (URL),COUNTRY (URL),AGEGROUP (URL),EDUCATIONLEVEL (URL),SEX (URL),RESIDENCEAREATYPE (URL),WEALTHQUINTILE (URL),DHSMICSGEOREGION (URL),WEALTHDECILE (CODE),WEALTHDECILE (DISPLAY),WEALTHDECILE (URL),Low,High,StdErr,StdDev
count,9967.0000,0.0,9966.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6739.000000,6739.000000,0.0,0.0
mean,4983.0000,NaN,2009.094321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.080464,41.774849,NaN,NaN
std,2877.3694,NaN,4.814881,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.711667,31.311188,NaN,NaN
min,0.0000,NaN,1990.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN
25%,2491.5000,NaN,2007.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.522400,19.219470,NaN,NaN
50%,4983.0000,NaN,2008.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.320790,36.366360,NaN,NaN
75%,7474.5000,NaN,2013.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.237275,57.360760,NaN,NaN
max,9966.0000,NaN,2016.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,266.783200,323.236880,NaN,NaN